body{
   margin: 0;
   padding: 0;
   color: gray;
}

#body_sin_header{
    margin-left: 5%;
    margin-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header{
    background-image: url(wallpaper\ dog.jpg);
    background-size: cover;
    background-position: center; 
    padding-top: 100px;
    height: 300px;
    color: white;
    font-family: serif;
}

h1{
    position: absolute;
    right: 10vw;
    top: 50px;
    font-size: 3vw;
}

a{
    font-size: x-large;
    font-weight: bold;
  
}

.subtitulo{
    font-size: 225%;
    font-weight: bold;
    color: rgba(22,164,232,255);
}

h2 {
    text-align: center;
    font-size: smaller;
}

h3{
    color: gray;
    font-weight: bold;
    font-size: 200%;
}

input {
    width: 98%;
    height: auto;
    margin-bottom: 2%;
}

button {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

main {
    flex-basis: 60%;
    padding-top: 50px;
}

aside {
    flex-basis: 35%;
    padding-top: 25px;
}

footer {
    flex-basis: 100%;
    text-align: center;
    font-size: larger;
}

#secciones {
    flex-basis: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
    max-width: 100%;
    margin: 20px auto;
}

#secciones p{
    font-size: 90%;
}

/* Estilos de materialize */
.carousel .carousel-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel .carousel-item h3{
    margin-top: -300px;
}

.carousel .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
    }

@media screen and (min-width: 720px) and (max-width: 1280px) {
    
   #titulo{
    font-size: 330%;
   }
    main {
        flex-basis: 100%;
    }

    aside{
        flex-basis: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10%;
        max-width: 100%;
      
    }

  

}

@media screen and (min-width: 500px) and (max-width: 720px) {
    #titulo{
        font-size: 270%;
        position: initial;
        text-align: center;
        margin-top: -90px;
    }

    main {
        flex-basis: 100%;
    }

    aside{
        flex-basis: 100%;
    }

    #secciones {
        flex-basis: 100%;
        display: block;
    }
}